    {% extends 'admin_base.html.twig' %}


    {% set __title = titulo %}

    {% block content %}
    <div class="box box-success">
        <div class="box-body">
            <div class="row">
                <div class="col-md-11">
                    <!-- form start -->
                    {{ form_start(form) }}
                    <div id="adminbundle_turno">
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="adminbundle_turno_nombreApellido">{{ form_label(form.nombreApellido) }}</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.nombreApellido) }}
                                {{ form_errors(form.nombreApellido) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="adminbundle_turno_telefono">{{ form_label(form.telefono) }}</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.telefono) }}
                                {{ form_errors(form.telefono) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="adminbundle_turno_cuit">{{ form_label(form.cuit) }}</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.cuit) }}
                                {{ form_errors(form.cuit) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="adminbundle_turno_mail1">{{ form_label(form.mail1) }}</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.mail1) }}
                                {{ form_errors(form.mail1) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="adminbundle_turno_mail2">{{ form_label(form.mail2) }}</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.mail2) }}
                                {{ form_errors(form.mail2) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="adminbundle_turno_tipoTramite">{{ form_label(form.tipoTramite) }}</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.tipoTramite) }}
                                {{ form_errors(form.tipoTramite) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="adminbundle_turno_horaTurno">
                                {{ form_label(form.horaTurno) }}
                            </label>
                            <div class="col-sm-10 ">
                                    {{ form_widget(form.horaTurno) }}
                                    {{ form_errors(form.horaTurno) }}
                            </div>
                        </div>
                    </div>


                    <div class="box-footer">
                        <input class="btn btn-success" type="submit" value="Crear"/>
                        <a class="btn btn-default" href="{{ path('turno_administrar') }}"> Volver al Listado</a>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css') }}">
    {% endblock %}

    {% block footer_javascript %}
        {{ parent() }}

        <script src="{{ asset('assets/vendor/AdminLTE/plugins/input-mask/jquery.inputmask.js') }}"></script>
        <script src="{{ asset('assets/vendor/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
        <script src="{{ asset('assets/vendor/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>

        <script src="{{ asset('assets/vendor/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.es.js') }}"></script>
        <script>
            $(function () {

                $("[data-mask]").inputmask();

                //Timepicker
                $(".timepicker").timepicker({
                    showInputs: false
                });

                window.onload = buscarHorarioPorTipoTramite;

                function buscarHorarioPorTipoTramite() {
                    var data = {
                        tipo_tramite_id: $("#adminbundle_turno_tipoTramite").val()
                    };
                    $.ajax({
                        type: 'post',
                        url: '{{ path("turno_horarios_por_tipo_tramite") }}',
                        data: data,
                        success: function(data) {

                            $('.btn-success').removeClass('disabled');

                            var $horaTurnoSelector = $('#adminbundle_turno_horaTurno');

                            $horaTurnoSelector.html('<option value="null">Seleccione un horario</option>');

                            for (var i=0, total = data.length; i < total; i++) {
                                if(i == 0) {
                                    $horaTurnoSelector.append('<option value="' + data[i] + '" selected>' + data[i] + '</option>');
                                }else{
                                    $horaTurnoSelector.append('<option value="' + data[i] + '">' + data[i] + '</option>');
                                }
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            var $horaTurnoSelector = $('#adminbundle_turno_horaTurno');
                            $horaTurnoSelector.html('<option>Sin horarios disponible, seleccione otro Tipo de Tramite</option>');
                            $('.btn-success').addClass('disabled');
                        }
                    });
                }

                $("#adminbundle_turno_tipoTramite").change(buscarHorarioPorTipoTramite);
            });


        </script>

    {% endblock  %}
