<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% if __title is defined %} {{ __title }} - {% endif %}Panel de Control{% endblock %}</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/bootstrap/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/bootstrap/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/dist/css/AdminLTE.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/vendor/AdminLTE/bootstrap/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/bootstrap/js/respond.min.js') }}"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}

    <style type="text/css">
        @media print {
            #bottom{
                visibility: hidden;
            }
        }

        @media screen {
            #bottom{
                visibility: visible;
            }
        }

    </style>

</head>

{% set currentPath =  app.request.attributes.get('_route') %}

<body>
<div class="wrapper">
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <img src="{{ asset('assets/vendor/images/logo-bap.png') }}" class="img-responsive"/>
                </div>
                <div class="row">
                    <h1 class="page-header text-center">
                        {% if __title is defined %} <strong> {{  __title }}</strong>  {% else %} Ministerio de Educación  {%  endif %}
                        {% if __descripcion_opcional is defined %}<small><strong> {{ __descripcion_opcional | raw }}</strong> </small>{% else %} <small> Sede Casa Central</small>{%  endif %}
                    </h1>
                </div>
            </div>
            <!-- /.col -->
        </div>

        <!-- Table row -->
        <div class="row">
            {% if __impresion is defined %}<small class="pull-right">{{ __impresion | raw }}</small>{%  endif %}
            {% block content %}{% endblock %}
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

    <div style="width:98%;float:left;background-color: #f2f2f2;height: 32px;border-top: 1px #9a9da4 solid;margin-top: 20px;position:fixed;bottom: 0px;z-index: 100;" id="bottom">
        <div style="width:158px;margin:0 auto 0 auto;">
            <div style="float:left;margin-top: 5px;color: #7F7F7F;">
                {% if (currentPath == 'generar_comprobante' ) %}
                <input type="button" value="Inicio" onclick="window.location.href = '{{ path('front_homepage') }}'">
                {% else %}
                <input type="button" value="Inicio" onclick="window.location.href = 'javascript:window.history.back();'">
                {% endif %}
            </div>
            <div style="float:right;margin-top:5px;">
                <input type="button" value="Imprimir" id="PrintinPopup" onclick="window.print()">
            </div>
        </div>
    </div>

</div>
<!-- ./wrapper -->
</body>
</html>
