{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript"></script>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class=" col-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Datos del turno a cancelar</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Cuit:</dt>
                <dd>{{turno.cuit}}</dd>
                <dt>Tipo de trámite</dt>
                <dd>{{turno.tipoTramite}}</dd>
                <dt>Sede</dt>
                <dd>{{turno.sede}}</dd>
                <dt>Fecha</dt>
                <dd>{{turno.fechaTurno | date('d/m/Y')}}</dd>
                <dt>Hora</dt>
                <dd>{{turno.horaTurno | date('H:i A')}}</dd>
                <dt>Número</dt>
                <dd>{{turno.turnoSede}}</dd>
              </dl>
            </div>
          </div>


          {{ form_start(cancelarForm) }}
          {{ form_widget(cancelarForm) }}
          <ul class="list-inline pull-right">
              <li>
                  <button type="submit" class="btn btn-danger">Cancelar Turno</button>
              </li>
          </ul>
          {{ form_end(cancelarForm) }}


        </div>
    </div>
{% endblock %}
