{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        {{ form_start(form,{'attr': {'class': 'form-horizontal'}}) }}
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title">Complete la siguiente información</h3>
            </div>

            <div class="panel-body">

                <!-- { { form_start(form,{'attr': {'class': 'form-horizontal'}}) }} -->
                <div class="col-12 col-md-6">
                    <div class="form-group">
                          {{ form_label(form.cuit) }}
                          <div class="col-sm-10">
                                {{ form_widget(form.cuit) }}
                                {{ form_errors(form.cuit) }}
                                <span class="help-block">Solamente números. Por ej: 20XXXXXXX2</span>
                          </div>
                    </div>
                    {{ form_row(form.nombreApellido) }}
                    {{ form_row(form.telefono) }}
                    {{ form_row(form.mail1) }}
                    {{ form_row(form.mail2) }}
                    {{ form_row(form.captcha) }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
        <ul class="list-inline pull-right">
            <li>
                <button type="submit" class="btn btn-success">Confirmar Turno</button>
            </li>
        </ul>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//www.google.com/recaptcha/api.js?hl=es"></script>

    <script type="text/javascript"></script>

    <script>
        $('#frontbundle_turno_cuit').on('change', function(e) {
            if(validaCuit(document.getElementById("frontbundle_turno_cuit").value)){
                formularioSinError();
            }else{
                formularioConError();
                alert("El numero de cuit es incorrecto. Por favor verifiquelo");
            }

        });

        $('#frontbundle_turno_cuit').on('keypress', function(e) {
            tecla = (document.all) ? e.keyCode : e.which;
            //Tecla de retroceso para borrar, siempre la permite
            if (tecla==8){
                return true;
            }
            // Patron de entrada, en este caso solo acepta numeros
            patron =/[0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        });

        function formularioConError(){
            document.getElementsByClassName("btn btn-success")[0].disabled = true;
            var theDropDown = document.querySelector("#frontbundle_turno_cuit");
            theDropDown.classList.add("error_form");
        }

        function formularioSinError(){
            document.getElementsByClassName("btn btn-success")[0].disabled = false;
            var theDropDown = document.querySelector("#frontbundle_turno_cuit");
            theDropDown.classList.remove("error_form");
        }

        function validaCuit(sCUIT) {
            var aMult = '5432765432';
            var aMult = aMult.split('');

            if (sCUIT && sCUIT.length == 11) {
                aCUIT = sCUIT.split('');
                var iResult = 0;
                for(i = 0; i <= 9; i++) {
                    iResult += aCUIT[i] * aMult[i];
                }
                iResult = (iResult % 11);
                iResult = 11 - iResult;

                if (iResult == 11) iResult = 0;
                if (iResult == 10) iResult = 9;

                if (iResult == aCUIT[10]) {
                    return true;
                }
            }

            return false;
        }
    </script>
{% endblock %}
