{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="//www.google.com/recaptcha/api.js?hl=es"></script>

    <script type="text/javascript"></script>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        {{ form_start(form,{'attr': {'class': 'form-horizontal'}}) }}
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title">Complete la siguiente información</h3>
            </div>

            <div class="panel-body">

                <!-- { { form_start(form,{'attr': {'class': 'form-horizontal'}}) }} -->
                <div class="col-12 col-md-6">
                    <div class="form-group">
                          {{ form_label(form.cuit) }}
                          <div class="col-sm-10">
                                {{ form_widget(form.cuit) }}
                                {{ form_errors(form.cuit) }}
                                <span class="help-block">Solamente números. Por ej: 20XXXXXXX2</span>
                          </div>
                    </div>
                    {{ form_row(form.nombreApellido) }}
                    {{ form_row(form.telefono) }}
                    {{ form_row(form.mail1) }}
                    {{ form_row(form.mail2) }}
                    {{ form_row(form.captcha) }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
        <ul class="list-inline pull-right">
            <li>
                <button type="submit" class="btn btn-success">Confirmar Turno</button>
            </li>
        </ul>
        {{ form_end(form) }}
    </div>
{% endblock %}
