    {% extends 'admin_base.html.twig' %}

    {% set __title = 'Listado de Usuario por Turno Sedes' %}

    {% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h5 >Filtros de Busqueda</h5>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- form start -->
                            {{ form_start(form, {'method': 'GET'}) }}
                            {{ form_widget(form) }}

                            <div class="box-tools pull-right">
                                <input class="btn btn-success" type="submit" value="Buscar"/>
                                <a class="btn btn-default" href="{{ path('usuarioturnosede_index') }}"> Limpiar Busqueda</a>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Usuario</th>
                            <th>Turno Sede</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usuarioTurnoSede in usuarioTurnoSedes %}
                        <tr>
                                    <td><a href="{{ path('usuarioturnosede_show', { 'id': usuarioTurnoSede.id }) }}">{{ usuarioTurnoSede.id }}</a></td>
                                    <td>{{ usuarioTurnoSede.usuario }}</td>
                                    <td>{{ usuarioTurnoSede.turnoSede }}</td>
                                    <td>{% if usuarioTurnoSede.activo %}<span class="label label-success">Si</span{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                                    <td>
                                        <a title="Editar"   class="btn btn-default btn-sm" href="{{ path('usuarioturnosede_edit', { 'id': usuarioTurnoSede.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a title="Eliminar" class="btn btn-danger  btn-sm delete-obj" data-id="{{ usuarioTurnoSede.id }}" data-href="{{ path('usuarioturnosede_delete', { 'id': usuarioTurnoSede.id }) }}"> <i class="glyphicon glyphicon-remove-circle"></i></a>
                                    </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {{ knp_pagination_render(usuarioTurnoSedes) }}

        </div>
    </div>

    <div class="delete-obj-form hidden">
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <a class="btn btn-success" href="{{ path('usuarioturnosede_new') }}">Nuevo Usuario Turno Sede</a>

    {% endblock %}

