    {% extends 'admin_base.html.twig' %}

    {% set __title = 'Turno Tramite' %}

    {% block content %}
    <div class="box box-success">
        <div class="box-body">
            <div class="row">
                <div class="col-md-9">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                    <td>{{ turnoTramite.id }}</td>
                            </tr>
                            <tr>
                                <th>Cantidad turno</th>
                                    <td>{{ turnoTramite.cantidadTurno }}</td>
                            </tr>
                            <tr>
                                <th>Cantidad Turnos Contiguo</th>
                                    <td>{{ turnoTramite.cantidadSlot }}</td>
                            </tr>
                            <tr>
                                <th>Tipo Tramite</th>
                                <td> {{ turnoTramite.tipoTramite }} </td>
                            </tr>
                            <tr>
                                <th>Agenda</th>
                                <td> {{ turnoTramite.turnoSede }}  </td>
                            </tr>
                            <tr>
                                <th>Activo</th>
                                    <td>{% if turnoTramite.activo %}<span class="label label-success">Si</span{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Fecha Creación</th>
                                    <td>{% if turnoTramite.fechaCreacion %}{{ turnoTramite.fechaCreacion|date('d-m-Y H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Fecha Actualización</th>
                                    <td>{% if turnoTramite.fechaActualizacion %}{{ turnoTramite.fechaActualizacion|date('d-m-Y H:i:s') }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="box-footer">
                        <a class="btn btn-success" href="{{ path('turnotipotramite_edit', { 'id': turnoTramite.id }) }}"> Editar</a>
                        <a class="btn btn-default" href="{{ path('turnotipotramite_index') }}"> Volver al Listado</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}
