    {% extends 'admin_base.html.twig' %}

    {% set __title = 'Listado de Turnos por Sedes' %}

    {% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                                <th>Id</th>
                                <th>Sede</th>
                                <th>Días</th>
                                <th>Hora desde</th>
                                <th>Hora hasta</th>
                                <th>Cantidad</th>
                                <th>Cant. Frecuencia</th>
                                <th>Frecuncia</th>
                                <th>Vigencia Desde</th>
                                <th>Vigencia Hasta</th>
                                <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for turnosSede in turnosSedes %}
                        <tr>
                                    <td><a href="{{ path('turnosede_show', { 'id': turnosSede.id }) }}">{{ turnosSede.id }}</a></td>
                                    <td>{{ turnosSede.sede }}</td>
                                    <td>{{ turnosSede.diasAtiende }}</td>
                                    <td>{% if turnosSede.horaTurnosDesde %}{{ turnosSede.horaTurnosDesde|date('H:i A')  }}{% endif %}</td>
                                    <td>{% if turnosSede.horaTurnosHasta %}{{ turnosSede.horaTurnosHasta|date('H:i A')  }}{% endif %}</td>
                                    <td>{{ turnosSede.cantidadTurnos }}</td>
                                    <td>{{ turnosSede.cantidadFrecuencia }}</td>
                                    <td>{{ turnosSede.frecunciaTurnoControl }}</td>
                                    <td>{% if turnosSede.vigenciaDesde %}{{ turnosSede.vigenciaDesde|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>{% if turnosSede.vigenciaHasta %}{{ turnosSede.vigenciaHasta|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>{% if turnosSede.activo %}<span class="label label-success">Si</span{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                                    <td>
                                        <a title="Editar"   class="btn btn-default btn-sm" href="{{ path('turnosede_edit', { 'id': turnosSede.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a title="Eliminar" class="btn btn-danger  btn-sm delete-obj" data-id="{{ turnosSede.id }}" data-href="{{ path('turnosede_delete', { 'id': turnosSede.id }) }}"> <i class="glyphicon glyphicon-remove-circle"></i></a>
                                    </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {{ knp_pagination_render(turnosSedes) }}

        </div>
    </div>

    <div class="delete-obj-form hidden">
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <a class="btn btn-success" href="{{ path('turnosede_new') }}">Nuevo Turnos Sede</a>

    {% endblock %}

