{% block extends %}
    {{ "{% extends 'admin_base.html.twig' %}" }}
{% endblock extends %}

{% block body %}

    {{  "{% set __title = 'Nuevo " ~  entity   ~ "' %}" }}

    {{ "{% block content %}" }}
    <div class="box box-success">
        <div class="box-body">
            <div class="row">
                <div class="col-md-9">
                    <!-- form start -->
                    {{ '{{ form_start(form) }}' }}
                    {{ '{{ form_widget(form) }}' }}
                    <div class="box-footer">
                        <input class="btn btn-success" type="submit" value="Crear"/>
                        <a class="btn btn-default" href="{{ "{{ path('" ~  route_name_prefix   ~ "_index') }}" }}"> Volver al Listado</a>
                    </div>

                    {{ '{{ form_end(form) }}' }}
                </div>
            </div>
        </div>
    </div>

    {{ "{% endblock %}" }}
{% endblock body %}