{% extends 'admin_base.html.twig' %}

{% set __title =  box %}

{% set __descripcion_opcional = sede %}

{% block content %}

    <div class="example-modal">
        <div class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    {% if conTurno == true %}
                        <div class="modal-header">
                            <h4 class="modal-title">Turno:</h4>
                            <h2 class="modal-title" style="text-align: center"><b>{{ turno.turnoBox }}</b></h2>
                        </div>
                        <div class="modal-body">
                            <p>CUIT: <b>{{ turno.cuit }}</b></p>
                            <p>Nombre Completo: <b>{{ turno.nombreApellido }}</b></p>
                            <p>Tipo de Tramite: <b>{{ turno.tipoTramite }}</b></p>
                            <p>Hora Turno: <b>{{ turno.HoraTurnoString}}</b></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-warning pull-left" href="{{ path('app_box_volver_llamar_turno') }}"> Volver a Llamar</a>
                            <a class="btn btn-primary" href="{{ path('app_box_nuevo_turno') }}"> Llamar Proximo</a>
                        </div>
                    {% else %}
                        <div class="modal-header">
                            <h4 class="modal-title">Turno:</h4>
                        </div>
                        <div class="modal-body">
                            <p>Sin datos</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" href="{{ path('app_box_nuevo_turno') }}"> Llamar Proximo</a>
                        </div>
                    {% endif %}
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .example-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        .example-modal .modal {
            background: transparent !important;
        }
    </style>
{% endblock %}

